{% extends 'Inventory/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<h2>Total information about the day</h2>
<table>
    <thead>
    <tr>
        <th>Number of purchases</th>
        <th>Total cost of ingredients</th>
        <th>Total revenue</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ summary.num_purchases }}</td>
        <td>{{ summary.total_cost }}</td>  
        <td>{{ summary.total_revenue }}</td>
    </tr>
    </tbody>
</table>


<table>
    <thead>
        <tr>
            <th colspan="3">Ingredients to purchase for tomorrow</th>
        </tr>
        <tr>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Unit</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient.ingredient_name }}</td>
            <td>{{ ingredient.quantity_to_purchase }}</td>
            <td>{{ ingredient.unit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}