{% extends 'Inventory/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}


<h2>List of ingredients</h2>
<table>
    <thead>
        <tr>
            <th>Ingredient</th>
            <th>Price</th>
            <th>Unit</th>
            <th>Quantity</th>
        </tr>
    </thead>
    {% for item in ingredients %}
    <tr>
        <th>{{ item.ingredient_name }}</th>
        <th>{{ item.unit_price }}</th>
        <th>{{ item.unit }}</th>
        <th>{{ item.quantity }}</th>
        <th><a href="{% url 'updateingredient' item.id %}">Edit ingredient</a></th>
        <th><a href="{% url 'deleteingredient' item.id %}">Delete ingredient</a></th>
    </tr>
    {% endfor %}
</table>

<p><a href="{% url 'addingredient' %}">Add new ingredient</a></p>


{% endblock %}