{% extends 'Inventory/base.html' %}
{% load static %}

{% block head %}
<link rel='stylesheet' href="{% static 'style.css' %}"/>
{% endblock %}

{% block content %}

<h2>Menu</h2>

<table>
    <thead>
    <tr>
        <th>Dish</th>
        <th>Price</th>
        <th>Cost</th>
        <th>Revenue</th>

    </tr>
    </thead>
    <tbody>
        <tr>
    {% for item in menu %}
        <tr>
            {% if user.is_authenticated %}
            <td>{{ item.item_name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.cost }}</td>
            <td>{{ item.revenue }}</td>
            <td><a href="{% url 'recipe' item.id %}">View recipe</a></td>
            <td><a href="{% url 'updatemenuitem' item.id %}">Edit</a></td>
            <td><a href="{% url 'deletemenuitem' item.id %}">Delete</a></td>
            {% else %}
            <td>{{ item.item_name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.cost }}</td>
            <td>{{ item.revenue }}</td>
            {% endif %}

        </tr>
        
    {% endfor %}

    </tbody>

</table>

<p><a href="{% url 'addmenuitem' %}">Add new item name</a></p>

{% endblock %}