{% extends 'Inventory/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<h2><center>Menu</center></h2>
<table>
    <thead>
    <tr>
        <th>Dish</th>
        <th>Price</th>
        <th>Cost</th>
        <th>Revenue</th>
    </tr>
    </thead>
    <tbody>
        <tr>
    {% for item in menu %}
        <tr>
            <td>{{ item.item_name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.cost }}</td>
            <td>{{ item.revenue }}</td>
            <td><a href="{% url 'updatemenuitem' item.id %}">Edit recipe</a></td>
            <td><a href="{% url 'deletemenuitem' item.id %}">Delete recipe</a></td>
        </tr>
    {% endfor %}

    </tbody>

</table>
<p><a href="{% url 'addmenuitem' %}">Add new recipe</a></p>
</tbody>

{% endblock %}