{% extends 'Inventory/base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<h2>Purchases</h2>
<table>
    <tr>
        <th>Customer name</th>
        <th>Dish</th>
        <th>Quantity</th>
        <th>Time</th>
    </tr>
    {% for item in purchases %}
    <tr>
        <th>{{ item.customer_name }}</th>
        <th>{{ item.purchased_item }}</th>
        <th>{{ item.quantity }}</th>
        <th>{{ item.purchased_time }}</th>
        <th><a href="{% url 'updatepurchase' item.id %}">Edit purchase</a></th>
        <th><a href="{% url 'deletepurchase' item.id %}">Delete purchase</a></th>
    </tr>
    {% endfor %}
</table>
<p><a href="{% url 'addpurchase' %}">Create new purchase</a></p>
{% endblock %}